{
  "parser": "babel-eslint",
    "extends": [
      "standard"
    ],
    "plugins": [
      "babel"
    ],
    "rules": {
      "key-spacing"          : 0,
      "jsx-quotes"           : [2, "prefer-single"],
      "max-len"              : [2, 120, 2],
      "object-curly-spacing" : [2, "always"]
    }
}
